// - - - - - - - - - - - - - - - - - - -
// - - content-box module
// styles for the content-box module
.content-box {
  display: block;
  margin: 0px 0px 0px 0px;
  padding-left: 15px;
  position: relative;
  z-index: 4;

  height: auto;
  width:  auto;

  background-color: lighten(#333, 15);
}

.content-box-header {
  color: #434343;

  font-family: 'Hind', 'Source Sans Pro';
  font-size: 1.7em;
  font-weight: 500;

  padding-left: 10px;
  padding-top:  10px;
  margin-bottom: 0px;
  margin-top:    0px;
}


.content-box-body {
  display: flex;
  flex-wrap: wrap;
}

