// - - - - - - - - - - - - - - - - - - -
// - - card module
// styles for the card module

.card {
  display: block;
  margin: 1rem;
}

.card-v {
  @extend .card;

  width: 210px;
  height: 310px;

  border-bottom: 10px solid transparent;
  padding-bottom: 8px;

  &:hover {
    border-bottom: 5px solid #fff;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.card-h {
  @extend .card;

  width:  360px;
  height: 200px;
  display: flex;

  box-shadow: 10px 13px 39px -6px rgba(0,0,0,0.33);
  background-color: white;

  img {
    min-width: 126px;
    height:    186px;
    border-width: 7px;
    border-style: solid;
    border-color: white;
  }

}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-title {
  margin: 0 0 0 5px;
  font: "Hind";
  font-size: 1.2em;
}

.card-subtitle {
  margin: 0 0 0 5px;
  color: grey;

}

.card-body {
  margin: 5px 0 6px 5px;
  font-size: 12px;
  overflow: auto;
}
