// - - - - - - - - - - - - - - - - - - -
// - - logo module
// styles for the logo module
.logo {
  font-size: 3.5em;
  color: #fff;
  letter-spacing: -1px;
  text-align: center;

  font-weight: bold;
  text-transform: uppercase;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
