// - - - - - - - - - - - - - - - - - - -
// - - sidebar-list module
// styles for the sidebar-list module

.menu-list {
  list-style: none;
  margin:  0 0 0 0;
  padding: 0 0 0 0;
}

.menu-item {
  position: relative;
  display: block;
  color: white;

  font-size: 1.2em;
  font-weight: 500;

  color: #e6e6e6;

  margin-left: 0em;
  padding: 0.923em 60px 0.923em 20px;
  line-height: 1.38em;

  border-left-style: solid;
  border-left-width: 10px;
  border-color: transparent;

  &:hover {
    border-color: white;
    background-color: darken(#333, 2);
    color: #fff;
  }

}
