// - - - - - - - - - - - - - - - - - - -
// - - base
// project defaults for base elements - h1-h6, p, a, etc.

html {
  height: 100%;
  background-color: #eeeded;

  ::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }

  ::-webkit-scrollbar-thumb {
    background: gray;
  }

  ::-webkit-scrollbar-track {
    background: mix(slategray, white, 50%);
  }

}

body {
  height: 100%;
}
